* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #020631;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 0.7rem;
    margin-top: 2rem;
    flex-direction: column;
  }
  
  header,
  form {
    min-height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
    height: 3rem;
  }
  input::-webkit-input-placeholder {
    font-size: 20px;
    padding-left: 6px;
  }
  form button {
    color: #00A8F3;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  form button:hover {
    background: #00A8F3;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tick-image{
    width: 350px;
    margin: 0px 0px 20px 40px;
    display: flex;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: #00A8F3;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .complete-btn {
    background: rgb(11, 212, 162);
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  .todoNewDiv{
    background-color: white;
    margin: auto;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28rem;
    cursor: pointer;
    border-radius: 5px;
    height: 3rem;
    margin-bottom: 10px;
  }

  .newLabel{
    flex: 1;
    margin-left: 1rem;
    opacity: 0.8;
    font-size: 1.3rem;

  }
  #check{
    margin-left: 1rem;
  }
  .deleteButton{
    margin-right: 0.5rem;
    border: none;
    background-color: white;
    font-weight: 900;
    opacity: 0.5;
    cursor: pointer;
    visibility: hidden;
  }

  .todoNewDiv:hover > .deleteButton{      /* newDiv üzerine geldiğinde delete butonu aktif olacak */
    visibility: visible;
  }

  .checked{
    transition: all 0.3s ease;
    background-color: #0e63e2;
    text-decoration: line-through;
    color: white;
    opacity: 0.7;
  }
  .todo-input{
    border-radius: 5px;
  }
  .subtitle{
    margin-top: 20px;
  }
  p{
    text-align: center;
    font-size: 1.1rem;
    color: grey;
    opacity: 0.5;
    font-weight: 700;
  }
  .word{
    color:#057cec;
    font-size: 1.2rem;
    opacity: 1;
  }
